@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@400;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  background-color: #fab22e;
  font-family: "Roboto Mono", monospace;
}
.container {
  width: 40%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #15161a;
  border-radius: 10px;
  box-shadow: 15px 15px 35px rgba(0, 0, 0, 0.2);
}
