@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@400;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.stopwatch {
  background-color: #000;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 40%;
  border-radius: 10px;
  padding: 50px 0;
  box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.2);
  font-family: "Roboto Mono", monospace;
}

.stopwatch__timer {
  position: relative;
  width: 110%;
  left: -5%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 40px 0;
  border-radius: 10px;
  font-size: 40px;
  background-color: #0075ff;
  color: #fff;
  font-weight: 400;
}

.stopwatch__buttons {
  display: flex;
  width: 60%;
  margin: 0 auto;
  justify-content: space-between;
  align-items: center;
}

.stopwatch__button {
  width: 125px;
  height: 40px;
  margin: 60px 10px 0 10px;
  background-color: #fff;
  cursor: pointer;
  border: none;
  font-family: "Roboto Mono", monospace;
  font-size: 18px;
  font-weight: 700;
  text-transform: uppercase;
  border-radius: 5px;
}
